// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #dc5945;
$ironmancyan: #84CED3;
$rainclouds: #203341;
$onethirtyBA: #4E6E82;
$emiliascloud: #ABC7D1;
$up: #E3E8EB;
// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-clock {

  background-color: $onethirtyBA;

}
