// ----------------------------------------------------------------------------
// Imports
// ----------------------------------------------------------------------------
@import "../../assets/stylesheets/treasure-stylesheet.scss";
// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
// SL-färger kan hittas på http://www.slideshare.net/KanalSL/ab-sl-grafisk-profil-10-visuell-identitet


$value-color:       #fff;
$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255,   255, 0.7);


// ----------------------------------------------------------------------------
// Widget-sl styles
// ----------------------------------------------------------------------------
.widget-sltrafficsituation {

  background-color: $dark-background;

  .title {
    color: $title-color;
  }

  .value {
    color: $alert-text;
  }

  .value-standard {
    color: $light-text;
  }

  .value-disturbance {
    color: $alert-text;
  }

  .change-rate {
    font-weight: 500;
    font-size: 30px;
    color: $value-color;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .event-detail{
    font-size: 12px;
  }

  .event-line{
    font-size: 12px;
  }

  .event-line::after{
    content: ": ";
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

  span:empty{
    display: none;
  }

}
