// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
// SL-färger kan hittas på http://www.slideshare.net/KanalSL/ab-sl-grafisk-profil-10-visuell-identitet

//$background-color:  #008ed7;
$background-color: #002d41;
$value-color:       #fff;
$value-color-disturbance: #e57622;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255,   255, 0.7);

$ironmancyan: #84CED3;
$rainclouds: #203341;
$onethirtyBA: #4E6E82;
$emiliascloud: #ABC7D1;
$up: #E3E8EB;


// ----------------------------------------------------------------------------
// Widget-sl styles
// ----------------------------------------------------------------------------
.widget-sltrafficsituation {

  background-color: $rainclouds;

  .title {
    color: $up;
  }

  .value {
    color: $value-color-disturbance;
  }

  .value-standard {
    color: $ironmancyan;
  }

  .value-disturbance {
    color: $value-color-disturbance;
  }

  .change-rate {
    font-weight: 500;
    font-size: 30px;
    color: $value-color;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .event-detail{
    font-size: 12px;
  }

  .event-line{
    font-size: 12px;
  }

  .event-line::after{
    content: ": ";
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

  span:empty{
    display: none;
  }

}
