// ----------------------------------------------------------------------------
// Imports
// ----------------------------------------------------------------------------
@import "../../assets/stylesheets/treasure-stylesheet.scss";
// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
 
$title-color:       rgba(255, 255, 255, 0.7);;
$moreinfo-color:    rgba(255, 255, 255, 0.8);;
// ----------------------------------------------------------------------------
// Widget-news styles
// ----------------------------------------------------------------------------
.widget-tvseriestoday {

  //background-color: $onethirtyBA;
  background-color: $light-background;
  vertical-align: baseline !important;

  .headline-container {
    display: none;
  }

  .title {
    font-size: 1.2em;
    color: $standard-text;
  }

  .description {
    font-size: 0.8em;
    color: $standard-text;
  }

  .heading{
    color: $title-color;
  }


}