<script type='text/javascript'>
$(function() {
  Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":1,"size_y":1},{"col":1,"row":3,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":1},{"col":4,"row":2,"size_x":1,"size_y":1},{"col":2,"row":1,"size_x":2,"size_y":3},{"col":4,"row":3,"size_x":1,"size_y":1},{"col":4,"row":1,"size_x":1,"size_y":1}]');
  //Dashing.widget_base_dimensions = [390, 340];
  Dashing.widget_base_dimensions = [400, 333];
  Dashing.numColumns = 5
});
</script>
<!-- TODO: Idé - sno html från DN börs, regexpa ut siffror och populera en tabell. Borde vara hyfsat enkelt -->

<% content_for :title do %>Kitchen Dashboard<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="svd" data-view="News" data-title="Svenska Dagbladet"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="forecast" data-view="Forecast" data-widget_title="Weather Forecast"> ></div>
    </li>

    <!--
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="klimato" data-view="Klimato"></div>
    </li>
    -->

    <li class="purple" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div class="purple" data-id="tomtom" data-view="Traffic" data-title="Restider Bil"></div>
    </li>


    <li data-row="1" data-col="1" data-sizex="2" data-sizey="3">
      <div data-id="sltrafficsituation" data-view="Sltrafficsituation" data-title="SL Trafiksituation"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="slreseplanerarework" data-view="Slreseplanerarework" data-title="SL-resa till Jobbet"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="stockholmsborsen" data-view="Rickshawgraph" data-title="OMX SPI" data-colors="#4E6E82"></div>
    </li>


    <!--

    $ironmancyan: #84CED3;
$rainclouds: #203341;
$onethirtyBA: #4E6E82;
$emiliascloud: #ABC7D1;
$up: #E3E8EB;
    -->

  </ul>
  <!--<center><div style="font-size: 12px">Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' \http://<%=request.host%>:<%=request.port%>/widgets/welcome</div></center>-->
</div>